<h1>New Product</h1>
<form ng-submit="addProd(newProduct)">
    <h2><input type="text" placeholder="Movie Name" ng-model="newProduct.name"/></h2>
    <h2><input type="text" placeholder="Price" ng-model="newProduct.price"/></h2>
    <h2><input type="text" placeholder="Movie Poster URL" ng-model="newProduct.imageUrl"/></h2>
    <p><textarea name="postContent" id="" cols="30" rows="10" ng-model="newProduct.description" placeholder="Move Description"></textarea></p>
    <button type="submit">Add</button>
</form>
