<h1>Edit Movie Info</h1>
<form action="" ng-submit="editProd(idxProd)">
    <h3><input type="text" ng-model="idxProd.name" value="idxProd.name"/></h3>
    <h3><input type="text" ng-model="idxProd.price" value="idxProd.price"/></h3>
    <h3><input type="text" ng-model="idxProd.imageUrl" value="idxProd.imageUrl"/></h3>
    <p><textarea name="prodDesc" id="" cols="30" rows="10" ng-model="idxProd.description">
        {{idxProd.description}}
    </textarea></p>

    <button type="submit">Update</button>
</form>
