<h1>My Shopping Cart</h1>

<article ng-repeat="cartProduct in cartProducts">
  <h2>{{cartProduct.name}}</h2>
  <img src="{{cartProduct.imageUrl}}" style="width:50px;" alt="">
  <p>${{cartProduct.price}}</p>
  <p>QUANTITY: {{cartProduct.quantity}}</p>
  <button ng-click="quant=!quant">CHANGE QUANTITY</button>
    <form ng-show="quant" ng-submit="editCart(cartProduct)">
      <label>CHANGE QUANTITY: </label>
      <input type="Number" ng-model="cartProduct.quantity" placeholder="cartProduct.quantity">
      <button type="submit">SUBMIT</button>
    </form>

  <p>
    <a href="" ng-click="removeFromCart(cartProduct)">DELETE</a>
  </p>

</article>


<section class="subtotal">
  <h2>SUBTOTAL: {{cartTotal | currency}}</h2>
</section>

<a href="#/httpUser">Continue Shopping...</a>
